@reference "tailwindcss";
@reference "../globals.css";

@layer components {
  article {
    p, pre, table {
      @apply my-4;
    }
    p {
      @apply leading-[1.75rem];
    }
    b, strong {
      @apply font-bold;
    }
    h1, h2, h3, h4, h5, h6 {
      @apply font-bold my-5;
    }
    h1 {
      @apply text-3xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-lg;
    }
    h6 {
      @apply text-sm;
    }
    hr {
      @apply border-2;
    }
    pre {
      @apply w-full px-5 py-4 text-wrap bg-card rounded-sm relative not-dark:bg-muted;
      code {
        @apply !p-0 !bg-transparent;
      }
    }
    blockquote {
      @apply text-center;
      p {
        @apply font-[宋体];
      }
      b, strong {
        @apply font-bold;
      }

    }
    ul, ol {
      @apply px-10 py-2;
      li {
        @apply my-2;
      }
    }
    ul li {
      @apply list-disc marker:text-muted-foreground;
    }
    ol li {
      @apply list-decimal marker:text-secondary-foreground;
    }
    embed {
      @apply w-full h-[700px];
    }
    .katex-display {
      @apply !my-8;
    }
    .callout {
      @apply my-6;
      div[data-slot="alert-description"] {
        @apply [&>*]:m-0;
        ul, ol {
          @apply px-6 py-0;
        }
      }
    }
    & + footer {
      @apply pl-4 pt-4 border-t border-muted space-y-1;
      div {
        @apply text-sm;
      }
    }
  }
}
