@import "../style/mixin.less";

.page-content {
    .scrollbar-style();
}

.article-content {
    article {
        & > * {
            color: var(--nocp-dark-forebg);
        }
        p, table, pre {
            margin: 15px 0;
        }
        p {
            line-height: 1.75rem;
        }
        h1, h2, h3, h4, h5, h6 {
            color: var(--nocp-forebg);
            font-weight: bold;
            margin: 20px 0;
        }
        a {
            color: var(--nocp-light-green);
            &:hover {
                text-decoration: underline;
            }
        }
        img {
            max-width: 600px;
        }
        pre {
            background-color: var(--nocp-dark-gray);
            border-radius: 3px;
            code {
                padding: 20px;
                background-color: transparent;
            }
        }
        blockquote {
            text-align: center;
            p {
                font-family: "宋体";
                color: var(--nocp-dark-forebg);
            }
        }
        ul, ol {
            padding: 15px 40px;
            li {
                margin: 7px 0;
                color: var(--nocp-dark-forebg);
            }
        }
        ul li {
            list-style: disc;
            &::marker {
                color: var(--nocp-gray);
            }
        }
        ol li {
            list-style: decimal;
            &::marker {
                color: var(--nocp-light-gray);
            }
        }
        embed {
            width: 100%;
            height: 700px;
        }
    }
}
