@import "../style/mixin.less";
@import "../style/animations.less";

.page-content {
    .scrollbar-style();
    // Hello Text
    h1 span {
        @text: "Hello";

        cursor: default;
        animation: 3s broken-red ease-in infinite;
        &::before {
            content: @text;
            display: block;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 2px;
            bottom: 0;
            background-color: var(--nocp-bg);
            animation:
                2s broken-blue ease-in infinite,
                .6s broken-text cubic-bezier(.19, .71, .56, .86) alternate infinite;
        }
        &::selection {
            background-color: transparent;
        }
    }
}

.project-cards {
    .scrollbar-style(7px);
}
