@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/style/vars.less";
@import "@/style/fonts.less";

body {
    margin: 0;
    padding: 0;
    * {
        font-family: FiraCode, NotoColorEmoji, sans-serif, Arial;
        &::selection {
            background-color: var(--nocp-green);
        }
    }
}

h1, h2, h3, h4, h5, h6, p, span, li {
    color: var(--nocp-forebg);
}

code {
    padding: 3px 5px;
    background-color: #333131;
    border-radius: 3px;
    font-size: 11pt;
}

// Gitalk
.gitalk-container {
    text-align: left;
    margin: 0 350px;
    span {
        color: #ccc;
    }
    .gt-meta {
        border-bottom: 1px solid #686868;
    }
    .gt-header .gt-header-comment {
        textarea {
            background-color: #4c4d53;
            caret-color: #ccc;
            color: #fff;
            &::placeholder {
                color: #858585;
            }
        }
        .gt-btn {
            .gt-btn-text {
                color: #fff;
            }
            &.gt-btn-preview {
                background-color: #4c4d53;
                border-color: #4c4d53;
            }
        }
        .gt-header-preview {
            background-color: #4c4d53;
            * {
                color: #fff;
            }
        }
    }
    .gt-comments {
        .gt-comment-content {
            background-color: #4c4d53;
            &:hover {
                box-shadow: none;
            }
        }
        .gt-comment.gt-comment-admin .gt-comment-content {
            background-color: #4d5168;
        }
    }
    .gt-svg svg {
        fill: #fff;
    }
}
