@layer base {
    :root {
        --nocp-bg: #19191a;
        --nocp-nav-bg: #2d2d30;
        --nocp-forebg: #f3f3f3;
        --nocp-dark-forebg: #e6e3e3;
        --nocp-forebg-hovered: #d3d1d1;
        --nocp-forebg-active: #c2c1c1;
        --nocp-gray: #575757;
        --nocp-light-gray: #8f8f8f;
        --nocp-dark-gray: #202020;
        --nocp-green: #077955;
        --nocp-light-green: #0b9c6e;

        --nocp-broken-red: #ff0050;
        --nocp-broken-blue: #0057fa;
        --nocp-broken-offset: 3px;
    }
}
